<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample3-1</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Lec02 GET! </h1>


  <a>
    <div th:if=" ${room}">
      エントリー
      <ul>
        <li th:each="user : ${room.users}">[[${user}]]</li>
      </ul>
    </div>
  </a>

  <p> [[${login_user}]]</p>


  <a href="gu">ぐー</a>
  <a href="choki">ちょき</a>
  <a href="pa">ぱー</a>

  <div>
    [[${player}]]<br>
    [[${cpu}]]<br>
    [[${judge}]]<br>
  </div>
</body>

</html>
